.footer {
  justify-content: center;
  background: #030a1a;
  min-height: 108px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__navigation {
  align-self: center;
  padding-left: 365px;
}

.footer__container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  padding-top: 39px;
  padding-bottom: 32px;
  justify-content: space-between;
  position: relative;
}

.footer__logo {
  font-family: "Alumni Sans", sans-serif;
  color: $color-default-white;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  margin-right: 277px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  top: 44px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__left {
  display: flex;
  flex-wrap: wrap;
}

.footer__right {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  font-family: "Roboto Condensed", sans-serif;
  color: $color-default-white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;

  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 1199px) {
  .footer__logo {
    margin-right: 62px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    padding-top: 0;
    width: 82px;
    height: 18px;
    left: 6px;
    top: 47px;
  }

  .footer__item {
    margin-right: 30px;
  }

  .footer__container {
    width: 691px;
    padding-top: 42px;
  }

  .footer__navigation {
    align-self: flex-end;
    padding-left: 150px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    width: 100%;
    padding-left: 15px;
    flex-direction: column;
    padding-top: 46px;
    padding-bottom: 52px;
  }

  .footer__logo {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
    width: 68px;
    height: 15px;
    position: static;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    margin-right: 31px;
  }

  .footer__right {
    display: flex;
    flex-direction: column;
  }

  .footer__item {
    margin-right: 0;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .footer__navigation {
    padding-left: 0;
    align-self: flex-start;
  }
}
